.example-radio-group {
  display: flex;
  flex-direction: column;


}
.example-radio-button {
  margin: 30px;
  font-size: 17px;
}

.content
{
  text-align: center;

}
.content h1{
  font-size: 30px;
  margin: 2rem;
}
.content p{
  margin: 2rem;
  font-size: 25px;
}
.content h5{
  font-size: 20px;
  margin: 2rem;
}

.example-section
{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2%;

}
.sec
{

  font-size: 17px;
}
.c{

  margin-left: 2%;
  margin-top: 5%;
  font-size: 30px;

}
