<mat-spinner class="spinner" *ngIf="isloading"></mat-spinner>
<mat-card *ngIf="!isloading">
  <mat-tab-group class="quiz-tab" mat-align-tabs="center" color="accent" backgroundColor="primary">

    <mat-tab label="Fill Out Quizz title" aria-required="true">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="title">
        <button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Add Quizz Topic">
      <mat-form-field appearance="fill">
        <mat-label>Topic</mat-label>
        <mat-select [(value)]="topic">
          <mat-option *ngFor="let select of topics" [value]="select.name">{{ select.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Fill Out Quizz Instructions">
      <mat-form-field appearance="fill">
        <mat-label>Instructions</mat-label>
        <textarea matInput type="text" [(ngModel)]="content">

          </textarea>
        <button *ngIf="content" matSuffix mat-icon-button aria-label="Clear" (click)="content=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-tab>

  </mat-tab-group>

</mat-card>

<mat-card>
  <div *ngIf="!isloading" class="content">

    <h1>{{title}}</h1>

  <mat-card-subtitle>
    <h5>{{topic}}</h5>
  </mat-card-subtitle>
  <mat-card-footer>
    <p>{{content}}</p>
  </mat-card-footer>

  </div>
  <mat-card-actions align="start">
    <div *ngIf="!isloading" class="buttons">
      <a mat-raised-button color="accent" [routerLink]="['/edit',quizid,'createQuestion']">Create a
        Question</a>
      <button color="primary" mat-raised-button (click)="onSubmit()">Save</button>
      <a mat-raised-button [routerLink]="['/myQuizzes']">back</a>
    </div>

  </mat-card-actions>
  <div class="dropbox" *ngIf="!isloading">

    <div class="example-container">
      <h2>{{quiz.quizTopic}} Question pull</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="questions"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let question of questions" cdkDrag>
          {{question.content}}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>My Questions</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="quiz.questions"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let question of quiz.questions" cdkDrag>{{question.content}}</div>
      </div>
    </div>


  </div>
</mat-card>


