<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <div class="filter">
    <h2>Filter By Quiz Title :</h2>
    <input type="text" [(ngModel)]="listFilter" />
  </div>
  <div class="search">
    <mat-form-field appearance="fill">
      <mat-label>Topic</mat-label>
      <mat-select  [(value)]="topic">
        <mat-option *ngFor="let select of topics" value="{{select.name}}">{{ select.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="onSearch()" ><mat-icon>find_replace</mat-icon></button>
  </div>

  <table mat-table [dataSource]="filteredQuizes" class="mat-elevation-z5">
    <ng-container matColumnDef="title">

      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="quizTopic">

      <td mat-cell *matCellDef="let element">{{ element.quizTopic }}</td>
    </ng-container>

    <ng-container matColumnDef="content">

      <td mat-cell *matCellDef="let element">
        <button color="accent" mat-icon-button (click)="onClick(element.content)">
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="questions">
      <th mat-header-cell *matHeaderCellDef>Questions</th>

      <td mat-cell *matCellDef="let element">{{ element.questions.length }}</td>
    </ng-container>

    <ng-container matColumnDef="ex">

      <td mat-cell *matCellDef="let element">
        <a mat-button *ngIf="userIsAuthenticated && !mapParam" mat-icon-button color="primary"  [routerLink]="['/Ex', element.id]"><mat-icon>assignment</mat-icon></a>
      </td>
    </ng-container>



    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
<mat-paginator [length]="totalposts" [pageSize]="PostsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="quizzes.length > 0"></mat-paginator>
