mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
:host
{
  display: block;
  margin-top:1rem;
}


mat-card-title
{
   font-style: oblique;
}
mat-card
{
justify-content: center;
  margin-top: 25vh;
  width: 20%;
  margin-left:40%;

}
